body {
    background: linear-gradient(to right, #001133, #000814);
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.produto-container {
    flex: 1;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.produto-box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.produto-img img {
    width: 450px;
    max-width: 100%;
      flex: 1;
    text-align: center;
}


.produto-info {
    background: white;
    padding: 40px;
    border-radius: 15px;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.produto-info h1 {
    color: #0d6efd;
    font-size: 3rem;
    margin-bottom: 20px;
}

.preco {
    color: #25d366;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
}

.especificacoes li {
    margin-bottom: 15px;
}

.btn-whatsapp {
    background: #25d366;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.btn-whatsapp:hover {
    background: #1ebe5d;
}

footer {
    margin-top: 80px;
}